= nested_form_for @place do |f|
  - if @place.errors.any?
    #error_explanation
      %h2= "#{pluralize(@place.errors.count, "error")} prohibited this place from being saved:"
      %ul
        - @place.errors.full_messages.each do |msg|
          %li= msg
  %hr
  .form-group
    .row
      .col-sm-6
        %label.control-label= f.label :name
        = f.text_field :name, class: 'form-control'
      .col-sm-6
        %label.control-label= f.label :address

        = f.text_field :address, class: 'form-control'

  .form-group
    .row
      .col-sm-6
        %label.control-label=f.label :description
        =f.text_area :description, :rows => 6, class: 'form-control'
      .col-sm-6
        %label.control-label= f.label :special_attraction
        = f.text_area :special_attraction, :rows => 6, class: 'form-control'
  .form-group
    .row
      .col-sm-4
        %label.control-label Images
        = f.fields_for :images do |i|
          = i.file_field :photo, class: 'form-control'
          %br
          = i.link_to_remove "Remove this image", class: 'col-sm-7'
        = f.link_to_add "Add a task", :images, class: 'col-sm-5'
      .col-sm-2
      .col-sm-6
        %label.control-label Place holder for review polymorphic relation
        %textarea.form-control{:name => "review", :rows => "8"}

    .actions
    = f.submit 'Save', :class => 'btn btn-primary col-sm-offset-5'
