- title('Tour de world | Places ')
%h1 Listing places

%table
  %tr
    %th Name
    %th Rating
    %th Longitude
    %th Latitude
    %th Visited count
    %th address
    %th Description
    %th
    %th
    %th

  - @places.each do |place|
    %tr
      %td= place.name
      %td= place.rating
      %td= place.longitude
      %td= place.latitude
      %td= place.visited_count
      %td= place.address
      %td= place.description
      %td= link_to 'Show', place
      %td= link_to 'Edit', edit_place_path(place)
      %td= link_to 'Destroy', place, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Place', new_place_path
