-#- javascript 'gmap.js'
-#- javascript 'markerclusterer_packed.js'
- title ("Places | #{@place.name}")

#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    - @place.images.each_with_index do |image, i|
      %li{"data-slide-to" => i, "data-target" => "#carousel-example-generic"}

  .carousel-inner

    .item.active
      %img= image_tag(@place.images.first.photo.gallery.url, :class => 'full')
      .carousel-caption
        %h4= @place.name
        %p= strip_tags(truncate(@place.description, length: 200))

    - @place.images.each_with_index do |image, i|
      - unless image == @place.images.first
        .item

          = image_tag(image.photo.gallery.url)
          .carousel-caption
            %h4= @place.name
            %p= strip_tags(truncate(@place.description, length: 200))

    -#.item.active
    -#  = image_tag(@place.images.first.photo.gallary.url, :class => 'full')
    -#
    -#- @place.images.each_with_index do |image, i|
    -#
    -#  .item
    -#    = link_to image_tag(image.photo.gallary.url, :class => 'full'), image
    -#      .carousel-caption
    -#        %h3 Caption Text

  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right

  / Carousel
%br
-#%div{:style => "width: 800px;"}
-#  #map{:style => "width: 800px; height: 400px;"}
%br
.col-md-6
  %p
    %b Name:
    = @place.name
  %p
    %b Rating:
    = @place.rating
  %p
    %b Longitude:
    = @place.longitude
  %p
    %b Latitude:
    = @place.latitude

.col-md-6

  %p
    %b Visited count:
    = @place.visited_count
  %p
    %b Address:
    = @place.address
  %p
    %b Description:
    = @place.description
.clearfix
  = link_to 'Edit', edit_place_path(@place)
  \|
  = link_to 'Back', places_path
.clearfix

  -#= render 'map', :object => @hash
  :javascript
  $(document).ready(function(){

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarker(#{raw @hash.to_json} );
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });

    $('.carousel').carousel(
      {
        interval: 10
      }
    )
  });

