- javascript 'gmap.js'
- javascript 'markerclusterer_packed.js'

%p#notice= notice
%div{:style => "width: 800px;"}
  #map{:style => "width: 800px; height: 400px;"}
%p
  %b Name:
  = @place.name
%p
  %b Rating:
  = @place.rating
%p
  %b Longitude:
  = @place.longitude
%p
  %b Latitude:
  = @place.latitude
%p
  %b Visited count:
  = @place.visited_count
%p
  %b Address:
  = @place.address
%p
  %b Description:
  = @place.description

= link_to 'Edit', edit_place_path(@place)
\|
= link_to 'Back', places_path

= render 'map', :object => @hash