%nav.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.nav-link{:href => "#top"} Tour De World
    / /.navbar-header
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"} Home
        %li
          = current_user.present? ? (link_to t('places.links.places'), places_path(status: :present)) : (link_to t('places.links.places'), places_path())

        %li
          - if user_signed_in?
            = link_to t('tours.links.my_tours'), tours_path(status: true)
          - else
            = link_to t('tours.links.default_tours'), tour_homes_path()
        %li
          %a{:href => "#"} About Us

        - if current_user.present?
          %li
            = link_to 'Sign out', destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to 'Sign in', new_user_session_path
    / /.navbar-collapse
  / /.container

