!!!
%html
  %head
    %title
      = yield(:title) || 'dummy text'
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => "#{controller_name.downcase.to_s}"}
    %header#header
    = render 'layouts/header'
    %div{:class => "page-content #{action_name.downcase.to_s}"}
      .container
        = yield
    %footer
      = render 'layouts/footer'

